<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"> 
<html>
<head>
	<link rel="StyleSheet" href="dtree.css" type="text/css" />
	<script type="text/javascript" src="dtree.js"></script>
	
<script type="text/javascript">

function o(id){

	window.console.log("id: " + id);
	
	eDiv	= document.getElementById('dd' + id);

	eJoin	= document.getElementById('jd' + id);

//	if (this.config.useIcons) {

//		eIcon	= document.getElementById('i' + id);

//		eIcon.src = (status) ? this.aNodes[id].iconOpen : this.aNodes[id].icon;

//	}

//	eJoin.src = (this.config.useLines)?

//	((status)?((bottom)?this.icon.minusBottom:this.icon.minus):((bottom)?this.icon.plusBottom:this.icon.plus)):

//	((status)?this.icon.nlMinus:this.icon.nlPlus);
//	window.console.log("ediv is null: " + (eDiv == null));
	
//	var currentDisplay = eDiv.style.display;

//	window.console.log("display: " + currentDisplay);
//	eDiv.style.display = (eDiv.style.display == 'none') ? 'block': 'none';

	if (eDiv.style.display == 'none') {
		eDiv.style.display = 'block';
		eJoin.src = 'img/minusbottom.gif';
		
	} else {
		eDiv.style.display = 'none';
		eJoin.src = 'img/plus.gif';
	}
}

</script>	
	
</head>
<body>
	<h2>Test Report</h2>
	<div class="dtree">
	<p>
		<a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a>
	</p>

	<div class="dTreeNode">
		<img id="id0" src="img/base.gif" alt="">root
	</div>
	
	$tree

	</div>
</body>
</html>
