## Copyright Technophobia Ltd 2012 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- Copyright Technophobia Ltd 2012 -->

<html>
<head>
	<link rel="StyleSheet" href="dtree.css" type="text/css" />
	<script type="text/javascript" src="dtree.js"></script>
</head>
<body>
	<h2>Test Report</h2>
	<div class="dtree">
	<p>
		<a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a>
	</p>

<script type="text/javascript">d = new dTree('d');

d.add(0,-1,'root');

#foreach( $node in $data.nodeList )
$data.getAddTreeNodeStr($node)
#end

document.write(d);	
</script>

</div>
</body>
</html>
